<div class="row">

  <div class="col-sm-6" *ngIf="alunoSelecionado">
    <app-titulo [titulo]="(alunoSelecionado.id===0? 'Novo Aluno': 'Cód. Aluno: ' + alunoSelecionado.id)">
      <button class="btn btn-sm btn-outline-danger" (click)="voltar()">Lista de Alunos</button>
    </app-titulo>
    <br>
    <form [formGroup]="alunoForm" (submit)="alunoSubmit()">
      <div class="form-group">
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Nome</label>
          <input type="text" formControlName="nome" class="form-control">
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Sobrenome</label>
          <input type="text" formControlName="sobrenome" class="form-control">
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Telefone</label>
          <input type="text" formControlName="telefone" class="form-control">
        </div>
        <div class="form-group">
          <hr>
          <button class="btn btn-sm btn-success" [disabled]="!alunoForm.valid">Enviar</button>
        </div>
      </div>
    </form>
  </div>


  <div [ngClass]="{'col-sm-6':alunoSelecionado,'col-sm-12':!alunoSelecionado}">
    <app-titulo [titulo]="Titulo">
      <button class="btn btn-sm btn-success" (click)="alunoNovo()">Cadastrar Aluno</button>
    </app-titulo>
    <table class="table table-hover mr-auto">
      <thead>
        <tr>
          <th scope="col">Visualizar</th>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Sobrenome</th>
          <th scope="col">Telefone</th>
          <th scope="col">Opção</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aluno of alunos">
          <div class="btn btn-sm  btn-group" (click)="alunoSelec(aluno)"><button
              class="btn btn-sm btn-outline-warning">Detalhe</button></div>
          <th scope="row">{{aluno.id}}</th>
          <td>{{aluno.nome}}</td>
          <td>{{aluno.sobrenome}}</td>
          <td>{{aluno.telefone}}</td>
          <td>
            <div class="btn btn-sm btn-group"><button (click)="openModal(template)"
                class="btn btn-sm btn-outline-primary">Professores</button>
              <button class="btn btn-sm btn-outline-danger" (click)="DeletarAluno(aluno.id)">Deletar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #template>
  <div class="modal-body mr-auto">
    <app-professores></app-professores>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn pull-right" aria-label="Close" (click)="modalRef.hide()">
      FECHAR
    </button>
  </div>
</ng-template>